# Ignore node_modules for backend
backend/node_modules/
backend/dist/
backend/.env

# Ignore Flutter build & tool directories
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/build/
frontend/.env

# OS files
.DS_Store
Thumbs.db
